{% extends "base.html" %}

{% block content %}
    <div class="container-fluid navigation">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-primary" disabled>Back</button>
            </div>
            <div class="col-sm" align="center">
                <button type="button" class="btn btn-secondary" onclick="getPathToFile()">Choose Images</button>
                <button type="button" class="btn btn-secondary">Clear Images</button>
            </div>
            <div class="col-sm"align="right">
                <button type="button" class="btn btn-secondary" disabled>Next step</button>
            </div>
        </div>
    </div>
{% endblock %}

